::placeholder {
  font-style: italic;
  color: #b0b0b0;
  font-family: font-awesome;
  font-size: 1.5vh;
}

.todo {
  margin: 0 auto;
  width: 25vh;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.todo-name {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 1px 2px;
  width: 80%;
}

.todo-name,
.todo-name-edit-mode {
  width: 80%;
  font-weight: bold;
  font-size: 3vh;
}

.todoItem-created,
.todoItem-doing,
.todoItem-done {
  display: flex;
  margin: 0.5vh;
  cursor: pointer;
  width: 80%;
}

.highlighter {
  width: 1.5vh;
  height: 2vh;
  margin-right: 0.5vh;
}

.title {
  margin-left: 0.5vh;
}

.todoItem-created .highlighter {
  background: lightblue;
}

.todoItem-doing .highlighter {
  background: orange;
}

.todoItem-done .highlighter {
  background: mediumseagreen;
}

.todoItem-created .title,
.todoItem-doing {
  text-decoration: none;
}

.todoItem-done .title {
  text-decoration: line-through;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-item-adder {
  margin: 1vh 0vh 1vh 0vh;
  width: 100%;
}

.delete-button {
  margin-top: 1vh;
  cursor: pointer;
}
