.todo {
  margin: 0 auto;
  width: 25vw;
}

.todoItem-done,.todoItem-created {
  display: flex;
  margin: 0.5vh;
  cursor: pointer;
}

.highlighter {
  width: 1.5vw;
  height: 2vh;
  margin-right: 0.5vh;
}

.title {
  margin-left: 0.5vw;
}

.todoItem-done .highlighter {
  background: mediumseagreen;
}

.todoItem-created .highlighter {
  background: lightblue;
}
 

.todoItem-done .title {
  text-decoration: line-through;
}

.todoItem-created .title {
  text-decoration: none;
}
