.todo {
  margin: 0 auto;
  width: 25vw;
}

.todo-name {
  cursor: pointer;
  font-weight: bold;
  font-size: 3vh;
}

.todoItem-created,
.todoItem-doing,
.todoItem-done {
  display: flex;
  margin: 0.5vh;
  cursor: pointer;
}

.highlighter {
  width: 1.5vw;
  height: 2vh;
  margin-right: 0.5vh;
}

.title {
  margin-left: 0.5vw;
}

.todoItem-created .highlighter {
  background: lightblue;
}

.todoItem-doing .highlighter {
  background: orange;
}

.todoItem-done .highlighter {
  background: mediumseagreen;
}

.todoItem-created .title,
.todoItem-doing {
  text-decoration: none;
}

.todoItem-done .title {
  text-decoration: line-through;
}

.todo-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 16px;
  width: 11px;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
}